# nodejs
node_modules/

# spa
spa/spa-server/ops/mongo-data

# webassembly
webassembly/emscripten/emsdk-3.1.56.zip
webassembly/emscripten/emsdk-3.1.56
webassembly/emscripten/tutorial/*.html
webassembly/emscripten/tutorial/*.js
webassembly/emscripten/tutorial/*.wasm
webassembly/pyodide-0.25.0.tar.bz2
webassembly/pyodide
!webassembly/pyodide/test.html